.afv-form-table th {
    width: 25%;
    background-color: #f5f5f5;
}

.afv-form-table td {
    background-color: white;
}

.afv-button {
    width: 200px;
    padding: 15px;
    font-weight: bold;
    color: white;
}
.afv-button-approved, .afv-button-approved:hover {
    background-color: green;
}
.afv-button-denied, .afv-button-denied:hover {
    background-color: red;
}
.afv-button-queried, .afv-button-queried:hover {
    background-color: orange;
}
.afv-button-confirm, .afv-button-confirm:hover {
    background-color: blue;
}
.afv-button-cancel, .afv-button-cancel:hover {
    background-color: gray;
}

.fade-enter-active {
  transition: opacity 0.75s ease-out;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}